body{
    margin:0;
    padding:0;
    text-align:center;
    font-size: 32px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 100%;
    font-size: 3vmin;
}

header.vmin{
    font-size: 3vmin;
}

main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;


}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid navy;
    background-color: skyblue;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}

#shot{
    margin-top: 30px;
}

.goal img{
width: 100%;
text-align: center;
}

#judgment{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0.5em;
    font-weight: bold;
    color: red;
    background-color: yellow;
    border: solid 3px black;
    border-radius: 10px;
    width: 150px;
    height: auto;
}